<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Hello C4T4</h1>
    <h2>This is heading 2 </h2>
    <h5>you are awnsome,{{name}}</h5>
    
<img src="{{image_url}}" alt="">
<a href="https://www.facebook.com/thinh.beo.812">Vao Fb choi</a> 
</body>
</html>