<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    {% for music in musics %}
    <h1>{{music.artist}}</h1>
    <h2>{{music.instrument}}</h2>
    <h3>{{music.type}} </h3>
    <img src="{{music.img}}" alt="">
    {% endfor %}
</body>
</html>